@charset "UTF-8";

@mixin box-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    -ms-box-pack: center;
    -ms-box-align: center;
}

@mixin ellipsis {
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin ellipsisMulti($line:2, $line-height:20) {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    max-height: $line-height*$line+px;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    line-height: $line-height+px;
}

@mixin sprite($value, $sp) {
    display: inline-block;
    vertical-align: top;
    content: '';

    @include get-sprite($value, $sp);
}

@mixin clearfix {
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}