@charset "UTF-8";

body {
    color: #fff;
    background: #242424;
}

.wrap {
    padding: 50px;
}

.link {
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    vertical-align: top;
}

li + li {
    margin-top: 30px;
}

@media all and (max-width: 767px) {
    .wrap {
        padding: 30px;
    }

    .wrap .link {
        font-size: 28px;
    }
}