@charset "UTF-8";

html,
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
button,
form,
input,
select,
textarea,
fieldset,
legend {
    margin: 0;
    padding:0;
}

html {
    font-family: "Apple SD Gothic Neo", Dotum, "돋움", sans-serif;
}

html,
body {
    height: 100%;
}

em,
address {
    font-style: normal;
}

img,
fieldset{
    border: 0 none;
}

img {
    vertical-align: top;
}

ul,
ol,
dl {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

button {
    border: none;
    background: 0 0;
    cursor: pointer;
}