@import '/studyBasic/reset.css';

body {
    color: #fff;
    background: #242424;
}

.wrap {
    padding: 50px;
}

.timeWrap .title {
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
    word-break: keep-all;
}

.timeWrap + .timeWrap {
    margin-top: 50px;
}

/* 디지털 시계 영역 */
.digitalClockArea {
    display: flex;
}

.segmentArea {
    display: flex;
}

.segmentArea + .segmentArea {
    position: relative;
    margin-left: 40px;
}

.segmentArea + .segmentArea:before {
    position: absolute;
    top: 50%;
    left: -27px;
    font-size: 50px;
    font-weight: bold;
    transform: translateY(-50%);
    content: ':';
}

.segmentWrap {
    --segment-width: 64px;
    --segment-height: 12px;
    --segment-border-radius: calc(var(--segment-height) / 2);
    --segment-collapse-size: 2px;
    --segmentWrap-width: calc(var(--segment-width) + 2 * var(--segment-height) - 2 * var(--segment-collapse-size));
    --segmentWrap-height: calc(2 * var(--segment-width) + 3 * var(--segment-height) - 4 * var(--segment-collapse-size));
    
    position: relative;
    width: var(--segmentWrap-width);
    height: var(--segmentWrap-height);
}

.segmentWrap.segment0 .pos1,
.segmentWrap.segment0 .pos2,
.segmentWrap.segment0 .pos3,
.segmentWrap.segment0 .pos5,
.segmentWrap.segment0 .pos6,
.segmentWrap.segment0 .pos7 {
    background-color: #fff;
}

.segmentWrap.segment1 .pos3,
.segmentWrap.segment1 .pos6 {
    background-color: #fff;
}

.segmentWrap.segment2 .pos1,
.segmentWrap.segment2 .pos3,
.segmentWrap.segment2 .pos4,
.segmentWrap.segment2 .pos5,
.segmentWrap.segment2 .pos7 {
    background-color: #fff;
}

.segmentWrap.segment3 .pos1,
.segmentWrap.segment3 .pos3,
.segmentWrap.segment3 .pos4,
.segmentWrap.segment3 .pos6,
.segmentWrap.segment3 .pos7 {
    background-color: #fff;
}

.segmentWrap.segment4 .pos2,
.segmentWrap.segment4 .pos3,
.segmentWrap.segment4 .pos4,
.segmentWrap.segment4 .pos6 {
    background-color: #fff;
}

.segmentWrap.segment5 .pos1,
.segmentWrap.segment5 .pos2,
.segmentWrap.segment5 .pos4,
.segmentWrap.segment5 .pos6,
.segmentWrap.segment5 .pos7 {
    background-color: #fff;
}

.segmentWrap.segment6 .pos1,
.segmentWrap.segment6 .pos2,
.segmentWrap.segment6 .pos4,
.segmentWrap.segment6 .pos5,
.segmentWrap.segment6 .pos6,
.segmentWrap.segment6 .pos7 {
    background-color: #fff;
}

.segmentWrap.segment7 .pos1,
.segmentWrap.segment7 .pos2,
.segmentWrap.segment7 .pos3,
.segmentWrap.segment7 .pos6 {
    background-color: #fff;
}

.segmentWrap.segment8 .pos1,
.segmentWrap.segment8 .pos2,
.segmentWrap.segment8 .pos3,
.segmentWrap.segment8 .pos4,
.segmentWrap.segment8 .pos5,
.segmentWrap.segment8 .pos6,
.segmentWrap.segment8 .pos7 {
    background-color: #fff;
}

.segmentWrap.segment9 .pos1,
.segmentWrap.segment9 .pos2,
.segmentWrap.segment9 .pos3,
.segmentWrap.segment9 .pos4,
.segmentWrap.segment9 .pos6,
.segmentWrap.segment9 .pos7 {
    background-color: #fff;
}

.segmentWrap + .segmentWrap {
    margin-left: 10px;
}

.segment {
    position: absolute;
    width: var(--segment-width);
    height: var(--segment-height);
    border-radius: var(--segment-border-radius);
    background-color: rgba(255, 255, 255, 0.03);
}

.segment.pos1 {
    top: 0;
    left: calc(var(--segment-height) - var(--segment-collapse-size));
}

.segment.pos2 {
    top: calc(var(--segment-height) / 2 - var(--segment-collapse-size));
    left: calc(var(--segment-height) / 2);
    transform: rotate(90deg);
    transform-origin: left;
}

.segment.pos3 {
    top: calc(var(--segment-height) / 2 - var(--segment-collapse-size));
    right: calc(var(--segment-height) / 2);
    transform: rotate(-90deg);
    transform-origin: right;
}

.segment.pos4 {
    top: calc(var(--segment-height) + var(--segment-width) - 2 * var(--segment-collapse-size));
    left: calc(var(--segment-height) - var(--segment-collapse-size));
}

.segment.pos5 {
    top: calc(3 / 2 * var(--segment-height) + var(--segment-width) - 3 * var(--segment-collapse-size));
    left: calc(var(--segment-height) / 2);
    transform: rotate(90deg);
    transform-origin: left;
}

.segment.pos6 {
    top: calc(3 / 2 * var(--segment-height) + var(--segment-width) - 3 * var(--segment-collapse-size));
    right: calc(var(--segment-height) / 2);
    transform: rotate(-90deg);
    transform-origin: right;
}

.segment.pos7 {
    bottom: 0;
    left: calc(var(--segment-height) - var(--segment-collapse-size));
}
/* // 디지털 시계 영역 */

/* 아날로그 시계 영역 */
.clockFace {
    position: relative;
    width: 290px;
    height: 290px;
    border: 5px solid #fff;
    border-radius: 50%;
    background-image: url('../images/clockFace.png');
    background-size: cover;
    background-color: #999;
}

.clockFace:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    content: '';
}

.clockStick {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    margin-left: -6px;
    border-radius: 6px;
    background-color: #000;
    transform-origin: bottom;
}

.clockStick.hourStick {
    height: 50px;
    margin-top: -50px;
}

.clockStick.minuteStick {
    height: 100px;
    margin-top: -100px;
}

.clockStick.secondStick {
    width: 4px;
    height: 100px;
    margin: -100px 0 0 -2px;
    border-radius: 2px;
    background-color: #f00;
}
/* // 아날로그 시계 영역 */


/* mobile 대응 (디지털 시계) */
@media all and (max-width: 767px) {
    .wrap {
        padding: 30px 10px;
    }

    .timeWrap .title {
        font-size: 22px;
    }

    .digitalClockArea .segmentArea + .segmentArea {
        margin-left: 24px;
    }

    .digitalClockArea .segmentArea + .segmentArea:before {
        left: -19px;
    }

    .digitalClockArea .segmentWrap {
        --segment-width: 36px;
        --segment-height: 8px;
    }
    
    .digitalClockArea .segmentWrap + .segmentWrap {
        margin-left: 5px;
    }
}

@media all and (max-width: 374px) {
    .digitalClockArea .segmentWrap {
        --segment-width: 24px;
    }
}
/* // mobile 대응 (디지털 시계) */