html,
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
button,
form,
input,
select,
textarea,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	-webkit-text-size-adjust: none;
}

body {
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.2;
	word-break: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

address,
em {
	font-style: normal;
}

fieldset,
img {
	border: 0;
	vertical-align: top;
}

table {
	border-collapse: collapse;
}

input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

dl,
ol,
ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a[href]:hover, a[href]:active, a[href]:focus {
	text-decoration: none;
}

button {
	-webkit-appearance: none;
	border: 0;
	background: none;
	outline: none;
	cursor: pointer;
}

textarea {
	overflow: auto;
	resize: none;
}

input[type=search]::-webkit-search-cancel-button {
	-webkit-appearance: none !important;
}

input[type=search]::-ms-clear {
	display: none;
}

.blind {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
}

iframe {
	width: 100%;
	height: 100%;
}

body {
	color: #fff;
	background-color: #1b1c1e;
}

.wrap {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.dateArea {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.dateArea .dateText {
	font-size: 32px;
}

.btnMonthArea {
	display: flex;
	align-items: center;
}

.btnMonthArea .btnMonth {
	flex: none;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #545556;
}

.btnMonthArea .btnMonth + .btnMonth {
	margin-left: 3px;
}

.calendarArea {
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: right;
}

.calendarArea .calendarTitleRow {
	display: flex;
	align-items: center;
}

.calendarArea .calendarTitleRow .calendarCell {
	font-weight: bold;
}

.calendarArea .calendarDateArea {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.calendarArea .calendarDateArea .calendarCell.holiday, .calendarArea .calendarDateArea .calendarCell.saturday {
	background-color: #232425;
}

.calendarArea .calendarRow {
	display: flex;
	flex: 1;
	border-top: 1px solid #383838;
}

.calendarArea .calendarRow .calendarCell + .calendarCell {
	border-left: 1px solid #383838;
}

.calendarArea .calendarCell {
	flex: 1;
	padding: 5px;
	user-select: none;
}

.calendarArea .calendarCell.holiday {
	color: #bd3537;
}

.calendarArea .calendarCell.saturday {
	color: #64aef1;
}

.calendarArea .noti {
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-height: 26px;
	margin-top: 20px;
	padding: 5px;
	text-align: left;
	background-color: #1e3e56;
	box-sizing: border-box;
}

.calendarArea .noti.middleItem {
	margin-right: -6px;
	margin-left: -6px;
}

.calendarArea .noti.startItem {
	margin-right: -6px;
}

.calendarArea .noti.finishItem {
	margin-left: -6px;
}

.calendarArea .noti + .noti {
	margin-top: 5px;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.popup[aria-hidden="true"] {
	display: none;
}

.popup .layer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	border: 1px solid #5b595b;
	border-radius: 8px;
	background-color: #2e2b2f;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
}

.popup .infoWrap {
	padding: 20px;
}

.popup .infoWrap input {
	display: inline-block;
	width: 100%;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	border: none;
	background-color: inherit;
	vertical-align: top;
	outline: none;
}

.popup .infoWrap .scheduleDate {
	display: block;
	font-size: 14px;
}

.popup .infoWrap.layerBtnArea {
	display: flex;
	align-items: center;
	padding: 0;
}

.popup .infoWrap.layerBtnArea .btn {
	flex: 1;
	line-height: 50px;
	text-align: center;
}

.popup .infoWrap + .infoWrap {
	border-top: 1px solid #514f52;
}

@media all and (max-width: 374px) {
	.dateArea .dateText {
		font-size: 25px;
	}
}

/*# sourceMappingURL=calendar.css.map */
