html,
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
button,
form,
input,
select,
textarea,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	-webkit-text-size-adjust: none;
}

body {
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.2;
	word-break: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

address,
em {
	font-style: normal;
}

fieldset,
img {
	border: 0;
	vertical-align: top;
}

table {
	border-collapse: collapse;
}

input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

dl,
ol,
ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a[href]:hover, a[href]:active, a[href]:focus {
	text-decoration: none;
}

button {
	-webkit-appearance: none;
	border: 0;
	background: none;
	outline: none;
	cursor: pointer;
}

textarea {
	overflow: auto;
	resize: none;
}

input[type=search]::-webkit-search-cancel-button {
	-webkit-appearance: none !important;
}

input[type=search]::-ms-clear {
	display: none;
}

.blind {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
}

iframe {
	width: 100%;
	height: 100%;
}

body {
	color: #fff;
	background-color: #242424;
}

.wrap {
	padding: 50px;
}

.timeWrap .title {
	display: block;
	margin-bottom: 10px;
	font-size: 30px;
	word-break: keep-all;
}

.timeWrap + .timeWrap {
	margin-top: 50px;
}

.digitalClockArea {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.segmentArea {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.segmentArea + .segmentArea {
	position: relative;
	margin-left: 40px;
}

.segmentArea + .segmentArea:before {
	position: absolute;
	top: 50%;
	left: -27px;
	font-size: 50px;
	font-weight: bold;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	content: ':';
}

.segmentWrap {
	width: 84px;
	height: 156px;
	position: relative;
}

.segmentWrap .segment {
	width: 64px;
	height: 12px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
}

.segmentWrap .segment.pos1 {
	top: 0;
	left: 10px;
}

.segmentWrap .segment.pos2 {
	top: 4px;
	left: 6px;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
}

.segmentWrap .segment.pos3 {
	top: 4px;
	right: 6px;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	-webkit-transform-origin: right;
	    -ms-transform-origin: right;
	        transform-origin: right;
}

.segmentWrap .segment.pos4 {
	top: 72px;
	left: 10px;
}

.segmentWrap .segment.pos5 {
	bottom: 4px;
	left: 6px;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	-webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
}

.segmentWrap .segment.pos6 {
	bottom: 4px;
	right: 6px;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-transform-origin: right;
	    -ms-transform-origin: right;
	        transform-origin: right;
}

.segmentWrap .segment.pos7 {
	bottom: 0;
	left: 10px;
}

.segmentWrap.segment0 .pos1,
.segmentWrap.segment0 .pos2,
.segmentWrap.segment0 .pos3,
.segmentWrap.segment0 .pos5,
.segmentWrap.segment0 .pos6,
.segmentWrap.segment0 .pos7 {
	background-color: #fff;
}

.segmentWrap.segment1 .pos3,
.segmentWrap.segment1 .pos6 {
	background-color: #fff;
}

.segmentWrap.segment2 .pos1,
.segmentWrap.segment2 .pos3,
.segmentWrap.segment2 .pos4,
.segmentWrap.segment2 .pos5,
.segmentWrap.segment2 .pos7 {
	background-color: #fff;
}

.segmentWrap.segment3 .pos1,
.segmentWrap.segment3 .pos3,
.segmentWrap.segment3 .pos4,
.segmentWrap.segment3 .pos6,
.segmentWrap.segment3 .pos7 {
	background-color: #fff;
}

.segmentWrap.segment4 .pos2,
.segmentWrap.segment4 .pos3,
.segmentWrap.segment4 .pos4,
.segmentWrap.segment4 .pos6 {
	background-color: #fff;
}

.segmentWrap.segment5 .pos1,
.segmentWrap.segment5 .pos2,
.segmentWrap.segment5 .pos4,
.segmentWrap.segment5 .pos6,
.segmentWrap.segment5 .pos7 {
	background-color: #fff;
}

.segmentWrap.segment6 .pos1,
.segmentWrap.segment6 .pos2,
.segmentWrap.segment6 .pos4,
.segmentWrap.segment6 .pos5,
.segmentWrap.segment6 .pos6,
.segmentWrap.segment6 .pos7 {
	background-color: #fff;
}

.segmentWrap.segment7 .pos1,
.segmentWrap.segment7 .pos2,
.segmentWrap.segment7 .pos3,
.segmentWrap.segment7 .pos6 {
	background-color: #fff;
}

.segmentWrap.segment8 .pos1,
.segmentWrap.segment8 .pos2,
.segmentWrap.segment8 .pos3,
.segmentWrap.segment8 .pos4,
.segmentWrap.segment8 .pos5,
.segmentWrap.segment8 .pos6,
.segmentWrap.segment8 .pos7 {
	background-color: #fff;
}

.segmentWrap.segment9 .pos1,
.segmentWrap.segment9 .pos2,
.segmentWrap.segment9 .pos3,
.segmentWrap.segment9 .pos4,
.segmentWrap.segment9 .pos6,
.segmentWrap.segment9 .pos7 {
	background-color: #fff;
}

.segmentWrap + .segmentWrap {
	margin-left: 10px;
}

.segment {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.03);
}

.clockFace {
	position: relative;
	width: 290px;
	height: 290px;
	border: 5px solid #fff;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background-image: url("../img/images/clock/clockFace.png");
	-webkit-background-size: cover;
	        background-size: cover;
	background-color: #999;
}

.clockFace:after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background-color: #fff;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	content: '';
}

.clockStick {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	margin-left: -6px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	background-color: #000;
	-webkit-transform-origin: bottom;
	    -ms-transform-origin: bottom;
	        transform-origin: bottom;
}

.clockStick.hourStick {
	height: 50px;
	margin-top: -50px;
}

.clockStick.minuteStick {
	height: 100px;
	margin-top: -100px;
}

.clockStick.secondStick {
	width: 4px;
	height: 100px;
	margin: -100px 0 0 -2px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	background-color: #f00;
}

@media all and (max-width: 767px) {
	.wrap {
		padding: 30px 10px;
	}
	.timeWrap .title {
		font-size: 22px;
	}
	.segmentArea + .segmentArea {
		margin-left: 24px;
	}
	.segmentArea + .segmentArea:before {
		left: -19px;
	}
	.segmentWrap {
		width: 48px;
		height: 88px;
	}
	.segmentWrap .segment {
		width: 36px;
		height: 8px;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
	}
	.segmentWrap .segment.pos1 {
		top: 0;
		left: 6px;
	}
	.segmentWrap .segment.pos2 {
		top: 2px;
		left: 4px;
		-webkit-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		        transform: rotate(90deg);
		-webkit-transform-origin: left;
		    -ms-transform-origin: left;
		        transform-origin: left;
	}
	.segmentWrap .segment.pos3 {
		top: 2px;
		right: 4px;
		-webkit-transform: rotate(-90deg);
		    -ms-transform: rotate(-90deg);
		        transform: rotate(-90deg);
		-webkit-transform-origin: right;
		    -ms-transform-origin: right;
		        transform-origin: right;
	}
	.segmentWrap .segment.pos4 {
		top: 40px;
		left: 6px;
	}
	.segmentWrap .segment.pos5 {
		bottom: 2px;
		left: 4px;
		-webkit-transform: rotate(-90deg);
		    -ms-transform: rotate(-90deg);
		        transform: rotate(-90deg);
		-webkit-transform-origin: left;
		    -ms-transform-origin: left;
		        transform-origin: left;
	}
	.segmentWrap .segment.pos6 {
		bottom: 2px;
		right: 4px;
		-webkit-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		        transform: rotate(90deg);
		-webkit-transform-origin: right;
		    -ms-transform-origin: right;
		        transform-origin: right;
	}
	.segmentWrap .segment.pos7 {
		bottom: 0;
		left: 6px;
	}
	.segmentWrap + .segmentWrap {
		margin-left: 5px;
	}
}

@media all and (max-width: 374px) {
	.segmentWrap {
		width: 36px;
		height: 64px;
	}
	.segmentWrap .segment {
		width: 24px;
		height: 8px;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
	}
	.segmentWrap .segment.pos1 {
		top: 0;
		left: 6px;
	}
	.segmentWrap .segment.pos2 {
		top: 2px;
		left: 4px;
		-webkit-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		        transform: rotate(90deg);
		-webkit-transform-origin: left;
		    -ms-transform-origin: left;
		        transform-origin: left;
	}
	.segmentWrap .segment.pos3 {
		top: 2px;
		right: 4px;
		-webkit-transform: rotate(-90deg);
		    -ms-transform: rotate(-90deg);
		        transform: rotate(-90deg);
		-webkit-transform-origin: right;
		    -ms-transform-origin: right;
		        transform-origin: right;
	}
	.segmentWrap .segment.pos4 {
		top: 28px;
		left: 6px;
	}
	.segmentWrap .segment.pos5 {
		bottom: 2px;
		left: 4px;
		-webkit-transform: rotate(-90deg);
		    -ms-transform: rotate(-90deg);
		        transform: rotate(-90deg);
		-webkit-transform-origin: left;
		    -ms-transform-origin: left;
		        transform-origin: left;
	}
	.segmentWrap .segment.pos6 {
		bottom: 2px;
		right: 4px;
		-webkit-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		        transform: rotate(90deg);
		-webkit-transform-origin: right;
		    -ms-transform-origin: right;
		        transform-origin: right;
	}
	.segmentWrap .segment.pos7 {
		bottom: 0;
		left: 6px;
	}
}
