@import '../reset.css';

body {
    color: #fff;
    background: #242424;
}

.wrap {
    padding: 50px;
}

/* 디지털 시계 영역 */
.digitalClockArea {
    display: flex;
}

.segmentArea {
    display: flex;
}

.segmentArea + .segmentArea {
    position: relative;
    margin-left: 40px;
}

.segmentArea + .segmentArea:before {
    position: absolute;
    top: 50%;
    left: -27px;
    font-size: 50px;
    font-weight: bold;
    transform: translateY(-50%);
    content: ':';
}

.segmentWrap {
    position: relative;
    width: 84px;
    height: 156px;
}

.segmentWrap.segment0 .pos1,
.segmentWrap.segment0 .pos2,
.segmentWrap.segment0 .pos3,
.segmentWrap.segment0 .pos5,
.segmentWrap.segment0 .pos6,
.segmentWrap.segment0 .pos7 {
    background-color: #fff;
}

.segmentWrap.segment1 .pos3,
.segmentWrap.segment1 .pos6 {
    background-color: #fff;
}

.segmentWrap.segment2 .pos1,
.segmentWrap.segment2 .pos3,
.segmentWrap.segment2 .pos4,
.segmentWrap.segment2 .pos5,
.segmentWrap.segment2 .pos7 {
    background-color: #fff;
}

.segmentWrap.segment3 .pos1,
.segmentWrap.segment3 .pos3,
.segmentWrap.segment3 .pos4,
.segmentWrap.segment3 .pos6,
.segmentWrap.segment3 .pos7 {
    background-color: #fff;
}

.segmentWrap.segment4 .pos2,
.segmentWrap.segment4 .pos3,
.segmentWrap.segment4 .pos4,
.segmentWrap.segment4 .pos6 {
    background-color: #fff;
}

.segmentWrap.segment5 .pos1,
.segmentWrap.segment5 .pos2,
.segmentWrap.segment5 .pos4,
.segmentWrap.segment5 .pos6,
.segmentWrap.segment5 .pos7 {
    background-color: #fff;
}

.segmentWrap.segment6 .pos1,
.segmentWrap.segment6 .pos2,
.segmentWrap.segment6 .pos4,
.segmentWrap.segment6 .pos5,
.segmentWrap.segment6 .pos6,
.segmentWrap.segment6 .pos7 {
    background-color: #fff;
}

.segmentWrap.segment7 .pos1,
.segmentWrap.segment7 .pos2,
.segmentWrap.segment7 .pos3,
.segmentWrap.segment7 .pos6 {
    background-color: #fff;
}

.segmentWrap.segment8 .pos1,
.segmentWrap.segment8 .pos2,
.segmentWrap.segment8 .pos3,
.segmentWrap.segment8 .pos4,
.segmentWrap.segment8 .pos5,
.segmentWrap.segment8 .pos6,
.segmentWrap.segment8 .pos7 {
    background-color: #fff;
}

.segmentWrap.segment9 .pos1,
.segmentWrap.segment9 .pos2,
.segmentWrap.segment9 .pos3,
.segmentWrap.segment9 .pos4,
.segmentWrap.segment9 .pos6,
.segmentWrap.segment9 .pos7 {
    background-color: #fff;
}

.segmentWrap + .segmentWrap {
    margin-left: 10px;
}

.segment {
    display: inline-block;
    width: 64px;
    height: 12px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.03);
    vertical-align: top;
}

.segment.pos1 {
    position: absolute;
    top: 0;
    left: 10px;
}

.segment.pos2 {
    position: absolute;
    top: 36px;
    left: -26px;
    transform: rotate(90deg);
}

.segment.pos3 {
    position: absolute;
    top: 36px;
    right: -26px;
    transform: rotate(90deg);
}

.segment.pos4 {
    position: absolute;
    top: 72px;
    left: 10px;
}

.segment.pos5 {
    position: absolute;
    top: 108px;
    left: -26px;
    transform: rotate(90deg);
}

.segment.pos6 {
    position: absolute;
    top: 108px;
    right: -26px;
    transform: rotate(90deg);
}

.segment.pos7 {
    position: absolute;
    bottom: 0;
    left: 10px;
}
/* // 디지털 시계 영역 */

/* 아날로그 시계 영역 */
.analogClockArea {
    margin-top: 100px;
}

.clockFace {
    position: relative;
    width: 300px;
    height: 300px;
    border: 5px solid #fff;
    border-radius: 50%;
    background-image: url('./clockFace.png');
    background-size: cover;
    background-color: #999;
}

.clockFace:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    content: '';
}

.clockStick {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    margin-left: -6px;
    border-radius: 20px;
    background-color: #000;
    transform-origin: bottom;
}

.clockStick.hourStick {
    height: 50px;
    margin-top: -50px;
}

.clockStick.minuteStick {
    height: 100px;
    margin-top: -100px;
}

.clockStick.secondStick {
    width: 4px;
    height: 100px;
    margin: -100px 0 0 -3px;
    background-color: #f00;
}
/* // 아날로그 시계 영역 */