@import '../reset.css';

:root {
    /* --segment-off-color: rgba(255, 255, 255, 0.5); */
    --segment-off-color: #fff;
    --segment-on-color: #fff;
}

body {
    color: #fff;
    background: #242424;
}

.wrap {
    padding: 50px;
}

.segmentArea {
    display: flex;
}

.timeWrap {
    display: flex;
}

.timeWrap + .timeWrap {
    position: relative;
    margin-left: 30px;
}

.timeWrap + .timeWrap:before {
    position: absolute;
    top: 50%;
    left: -22px;
    font-size: 50px;
    transform: translateY(-50%);
    content: ':';
}

.segmentWrap {
    position: relative;
    width: 64px;
    height: 120px;
    background-color: #fcc;
}

.segmentWrap + .segmentWrap {
    margin-left: 10px;
}

.segment {
    position: absolute;
    font-size: 0;
}

.segment:before,
.segment:after {
    display: inline-block;
    vertical-align: top;
    content: '';
}

/* 상 */
.segment.type1:before {
    border: 6px solid var(--segment-off-color);
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.segment.type1:after {
    border: 6px solid var(--segment-off-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.segment.pos1 {
    top: 0;
    left: 0;
}
/* // 상 */

/* 상좌 */
.segment.type2:before {
    border-top: 6px solid var(--segment-off-color);
    border-right: 3px solid var(--segment-off-color);
    border-bottom: 6px solid transparent;
    border-left: 3px solid transparent;
}

.segment.type2:after {
    border: 6px solid var(--segment-off-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.segment.pos2 {
    top: 24px;
    left: -23px;
    transform: rotate(-90deg);
}
/* // 상좌 */

/* 상우 */
.segment.type3:before {
    border: 6px solid var(--segment-off-color);
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.segment.type3:after {
    border-top: 6px solid var(--segment-off-color);
    border-right: 3px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 3px solid var(--segment-off-color);
}

.segment.pos3 {
    top: 24px;
    right: -23px;
    transform: rotate(90deg);
}
/* // 상우 */

/* 중 */
.segment.type4:before {
    border-top: 6px solid transparent;
    border-right: 12px solid var(--segment-off-color);
    border-bottom: 6px solid transparent;
}

.segment.type4:after {
    border-top: 6px solid transparent;
    border-left: 12px solid var(--segment-off-color);
    border-bottom: 6px solid transparent;
}

.segment.pos4 {
    top: 54px;
    left: 0;
}
/* // 중 */

/* 하좌 */
.segment.pos5 {
    left: -23px;
    bottom: 24px;
    transform: rotate(-90deg);
}
/* // 하좌 */

/* 하우 */
.segment.pos6 {
    right: -23px;
    bottom: 24px;
    transform: rotate(90deg);
}
/* // 하우 */

/* 하 */
.segment.pos7 {
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}
/* 하 */

.bar {
    display: inline-block;
    width: 40px;
    height: 12px;
    background-color: var(--segment-off-color);
    vertical-align: top;
}